VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Rhe21CLICqbyIsF69u9ynsCh2A0xZRisn3NfutAAV8DEQ1NLKfperXNtvAnggF4mgnMvJZrKXbxRr23mLhMK4IT00sihjYp5C
VITE_STRIPE_SECRET_KEY=sk_test_51Rhe21CLICqbyIsFwLMk464mlgxUMWmuG24VBN7sXqghyMOvJwJLQIDgx1Nq20zykyvSYCUdAWIfUjx38T0uqNid000M8DzHTr